
.listview-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #41444b;
  height: 300px;
  width: 320px;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  transition: transform .2s;
  margin-right: 64px;
  margin-bottom: 24px;
}

.listview-item:hover {
  border: 1px solid #fddb3a;
  transform: scale(1.05);
}

.listview-picture {
  display: flex;
  width: 320px;
  height:224px;
}

.listview-details {
  display: flex;
  flex-direction: column;
  padding: 16px 0 0 8px;
  align-items: center;
  justify-content: center;
}

.product-title {
  color: #41444b;
  font-size: 18px;
}

.product-price {
  color: #edc40e;
  font-size: 24px;
}